<div>
  <pre>
    <% if session[:game].has_winner? %>
      Player 2 Wins! <br>
      <a href="/">Start Over</a>
    <%else%>
    <h2> Welcome to the Game! </h2>
<%= session[:game].opponent_board_view session[:game].player_1 %>
  </pre>
    <form action="/coordinate2" method="post">
      Please enter board coordinate to shoot at:
      <input type="text" name="coordinate">
      <input type="submit" value="Submit">
    </form>
    
    <h3><%= @hit %></h3>
    <%end%>
</div>
