<div>
  <% if (@visitor1 || @visitor2) %>
    Hello, <%= @visitor1 %> and <%= @visitor2 %>!
    <a href="/p1place">Enter Game Arena</a>

  <% else %>
    <form action="/new_game">
      What's your name?
      <input type="text" name="name">
      <input type="text" name="name2">
      <input type="submit" value="Submit">
    </form>
  <% end %>
</div>
